

* {
  outline: none;
}

QFrame#Number{
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-color: rgba(255,255,255,25);
  border-radius: 3px;
}
/*
  border-top-color: [brightness(colors.widget_base, 0.95)];
  border-left-color: [brightness(colors.widget_base, 0.95)];
  border-right-color: [brightness(colors.widget_base, 0.15)];
  border-bottom-color: [brightness(colors.widget_base, 0.15)];
}*/

QPushButton{
  height: 26px;
  background: [colors.widget_base];
  color: [colors.text_normal];
  font-size: 13px;
  font-weight: 400;
  outline: none;
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-color: [brightness(colors.widget_base, -0.5)];
  border-top-color: [brightness(colors.widget_base, 0.2)];
}
QPushButton:hover{
  color: [brightness(colors.text_normal,0.1)];
  background:  [brightness(colors.widget_base, 0.15)];
}
QPushButton:pressed{
  color: [colors.text_normal];
  background:  [brightness(colors.widget_base, -0.25)];
  border-color: [brightness(colors.background, 0.1)];
  padding-top: 1px;
  padding-left: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
IconButton{
  width: 26px;
}
EnumButton{
  height: 26px;
  background: [colors.widget_base];
  color: [colors.text_normal];
  font-size: 13px;
  font-weight: 400;
  outline: none;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-top-width: 0px;
  border-color: [brightness(colors.widget_base, -0.5)];
  border-bottom-color: [brightness(colors.widget_base, 0.2)];
}
EnumButton:checked{
  background: [colors.highlight];
  color: [brightness(colors.text_normal, 0.1)];
  border-bottom-width: 0px;
  border-color: [brightness(colors.widget_base, -0.5)];
  border-top-color: [brightness(colors.widget_base, 0.2)];
}

WidgetButton{
  background: transparent;
  border: none;
  border-radius: [borders.radius+1];
  padding: 0px;
  margin: 0px;
}
WidgetButton:hover{
  background:  [brightness(colors.widget_base, 0.25)];
}
WidgetButton:pressed{
  color: [colors.text_normal];
  background:  [brightness(colors.widget_base, -0.15)];
  border-color: [brightness(colors.background, 0.1)];
  padding-top: 1px;
  padding-left: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
WidgetButton:checked  {
  background: [colors.highlight];
}
ColorButton {
  height: 26px;
}

WidgetIcon, WidgetIcon:hover, WidgetIcon:pressed, WidgetIcon:checked{
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
}

QPushButton#Menu{
  color: [colors.text_normal];
  background: [colors.widget_very_dark];
  border-style: solid;
  border-width: [borders.width];
  border-left-width: [borders.width+1];
  border-color: [brightness(colors.widget_very_dark, -0.05)];
  border-left-color: [colors.widget_base];
  padding-left: 0px;
  padding-right: 8px;
}
QPushButton#Menu:hover{
  border-color: [colors.widget_base];
  border-left-color: [colors.highlight];
}
QPushButton::menu-indicator {
  image: [icon_dir/'arrow_down_small/arrow_down_small_32.png'];
  width : 16px;
  height : 16px;
  left: -2px;
  subcontrol-position: center right;
}

/* String Fields
QFrame#String {
  background: [brightness(colors.widget_base, 0.04)];
  border-style: solid;
  border-radius: [borders.radius*ui_scale]px;
  border-width: [borders.width*ui_scale]px;
  border-color: [brightness(colors.widget_base, 0.3)];
}
QFrame#String:focus {
  background: [brightness(colors.widget_base, 0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}
*/

QLabel {
  font-size: 13px;
  color: [colors.text_normal];
}

QLineEdit {
  height: 26px;
  color: [colors.text_normal];
  background: [brightness(colors.widget_base, -0.04)];
  selection-background-color: [colors.select_text_bg];
  font-size: 13px;
  font-weight: 400;
  padding-left: 4px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-left-width: [borders.width+1];
  border-color: [brightness(colors.widget_base, -0.3)];
  border-left-color: [colors.widget_base];
}
QLineEdit:focus{
  background: [brightness(colors.widget_base, 0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
  border-left-color: [colors.highlight];
}
QPlainTextEdit {
  background: [brightness(colors.widget_base, -0.04)];
  selection-background-color: [colors.select_text_bg];
  color: [colors.text_normal];
  font-size: 13px;
  font-weight: 400;
  padding: 3px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-color: [brightness(colors.widget_base, -0.3)];
}
QPlainTextEdit:focus{
  background: [brightness(colors.widget_base ,0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}

QTableWidget {
  color: [colors.text_normal];
  background: [colors.widget_dark];
  alternate-background-color: [brightness(colors.widget_dark, 0.15)];
  border: none;
  outline: none;
}
QTableWidget::item{
  border: none;
  margin-bottom: 1px;
}

QTableWidget::item:hover {
  background-color: [colors.hover];
}
QTableWidget::item:selected {
  background-color: [colors.highlight];
}
QTabWidget::pane {
  border-style: solid;
}
QTabWidget {
  background:transparent;
}

QSpinBox, QDoubleSpinBox {
  height: 26px;
  background: [brightness(colors.widget_base, -0.04)];
  selection-background-color: [colors.select_text_bg];
  color: [colors.text_normal];
  font-size: 13px;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-color: [brightness(colors.widget_base, -0.3)];
  border-radius: [borders.radius];
}
QSpinBox:focus, QDoubleSpinBox:focus{
  background: [brightness(colors.widget_base, 0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}

QTabBar {
  background:transparent;
  font-size: 13px;
  font-weight: 500;
}
QTabBar::tab {
  color: [brightness(colors.text_normal, -0.15)];
  background-color: [brightness(colors.widget_dark, -0.1)];
  border-top-left-radius: [borders.radius]px;
  border-top-right-radius: [borders.radius]px;
  border-style: solid;
  border-radius: 0px;
  border-top-left-radius: [borders.radius]px;
  border-top-right-radius: [borders.radius]px;
  border-color: [brightness(colors.background, -0.1)];
  border-width: 0px;
  padding: 4px 8px 4px 8px;
  margin-top: 6px;
  margin-left: 2px;
}
QTabBar::tab:hover {
  color: [colors.text_normal];
}
QTabBar::tab:selected {
  border-width: 0px;
  border-top-width: 2px;
  border-color: [colors.highlight];
  color: [colors.text_normal];
  background-color: [colors.widget_dark];
}

QCheckBox {
  color: [colors.text_normal];
}
QCheckBox:checked {
  color: [brightness(colors.text_normal, 0.1)];
}
QCheckBox::indicator {
    width: 18px;
    height: 17px;
    background: [colors.widget_base];
    border-radius: [borders.radius];
    border-style: solid;
    border-width: [borders.width];
    border-top-color: [brightness(colors.widget_base, 0.25)];
    border-left-color: [brightness(colors.widget_base, 0.25)];
    border-right-color: [brightness(colors.background, -0.15)];
    border-bottom-color: [brightness(colors.background, -0.15)];
}
QCheckBox::indicator:hover {
  background: [brightness(colors.widget_base, 0.1)];;
}
QCheckBox::indicator:checked {
  background: [colors.highlight];
  border-top-color: [brightness(colors.background, -0.15)];
  border-left-color: [brightness(colors.background, -0.15)];
  border-right-color: [brightness(colors.widget_base, 0.25)];
  border-bottom-color: [brightness(colors.widget_base, 0.25)];
}

ComboBoxItem {
  color: [colors.text_normal];
  background: [colors.widget_base];
  border: none;
  border-width: 0px;
  outline: none;
}
ComboBoxItem:hover{
  background: [brightness(colors.widget_base, 0.15)];
  border-color: [brightness(colors.widget_base, 0.15)];
}
ComboBoxItem:checked{
  background: [colors.highlight];
  color: [brightness(colors.text_normal, 0.2)];
  border-color: [colors.highlight];
}
QComboBox {
  height: 26px;
  color: [brightness(colors.text_normal, -0.05)];
  font-size: 13px;
  background:  [colors.widget_very_dark];
  border-style: solid;
  border-width: [borders.width];
  border-radius: [borders.radius];
  border-left-width: [borders.width+1];
  border-color: [brightness(colors.widget_very_dark, 0.5)];
  border-left-color: [colors.widget_base];
  padding-left:  7px;
  padding-right: 5px;
}
QComboBox:hover {
  color: [colors.text_normal];
  border-color: [colors.widget_base];
  border-left-color: [colors.highlight];
}
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background-color: (0,0,0,40);
}
QComboBox::drop-down {
  border: none;
}
QComboBox::down-arrow {
  image: [icon_dir/'arrow_down_small/arrow_down_small_32.png'];
  width: 16px;
  height: 16px;
  padding-right: 6px;
}
QComboBox QAbstractItemView {
  background-color: [brightness(colors.widget_dark, -0.2)];
  color: [brightness(colors.text_normal, -0.2)];
  font-weight: 500;
  font-size: 13px;
  outline: none;
  padding-left: 3px;
  padding-right: 1px;
  padding-bottom: 1px;
  qproperty-iconSize : 16px 16px;
}
QComboBox QAbstractItemView:item {
  color: [brightness(colors.text_normal, -0.2)];
  height: 22px;
  qproperty-iconSize : 16px 16px;
}
QListView::item:selected {
   background-color: rgb(85,127,193);
   color: [colors.text_normal];
   height: 22px;
}
QComboBox QScrollBar:vertical {
   width: 6px;
   padding: 0px;
}

QFrame#UIList {
  background: [brightness(colors.widget_base, -0.075)];
  border-color: [brightness(colors.widget_base, -0.3)];
  border-style: solid;
  border-width: [borders.width];
  border-left-width: 0px;
  border-radius: [borders.radius];
  border-bottom-left-radius: 0; 
  border-top-left-radius: 0;
}
QListWidget#UIList{
  background: [brightness(colors.widget_dark, -0.15)];
  color: [colors.text_normal];
  alternate-background-color: [brightness(colors.widget_dark, -0.15)];
  border-color: [brightness(colors.widget_base, 0)];
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  padding: 0px;
  margin: 0px;
}
QListWidget#UIList:focus{
  border-color: [brightness(colors.widget_bright, 0.3)];
}
QListWidget#UIList::item{
  background: [brightness(colors.widget_dark, -0.15)];
  color: [brightness(colors.text_normal, -0.1)];
  padding: 0px;
  padding-left: 2px;
  margin: 0px;
  border-radius: [borders.radius]px;
  border: none;
}
QListWidget#UIList::item:hover {
  background: rgba(255,255,255,10);
}
QListWidget#UIList::item:selected {
  color: [colors.text_normal];
  background: [colors.highlight];
}
QListWidget#EntityList {
  background: [brightness(colors.widget_dark, 0)];
  alternate-background-color: [brightness(colors.widget_dark, 0.15)];
  border-radius: 0px;
  border-style: solid;
  border-width: 0px;
  border-top-width: [borders.width];
  border-color: [brightness(colors.widget_dark, -0.2)];
  border: none;
}
QListWidget#EntityList::item{
  background: [brightness(colors.widget_dark, 0.15)];
  color: [colors.text_normal];
  border-radius: 0px;
  border-style: solid;
  border-width: [borders.width];
  border-top: none;
  border-color: [brightness(colors.widget_dark, -0.2)];
  border: none;
}
QListWidget#EntityList::item:hover {
  background: [colors.hover];
}
QListWidget#EntityList::item:selected {
  background: [colors.highlight];
}
QListWidget#Completer {
  background: [colors.widget_dark];
  alternate-background-color: [brightness(colors.widget_dark, 0.15)];
  border-style: solid;
  border-width: [borders.width];
  border-top: 0px;
  border-color: [brightness(colors.widget_dark, -0.2)];
}
QListWidget#Completer::item{
  color: [colors.text_normal];
  border: none;
  padding: 4px;
}
QListWidget#Completer::item:hover {
  background: [colors.hover];
}
QListWidget#Completer::item:selected {
  background: [colors.highlight];
}

QScrollArea {
  border: none;
  min-height: 26px;
}
QScrollBar {
  background: [brightness(colors.widget_dark, -0.1)];
  border-width: 0px;
}
QScrollBar:vertical {
  width: 16px;
  padding: 2px;
}
QScrollBar:horizontal {
  height: 16px;
  padding: 2px;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
  background: [colors.widget_base];
  border-radius: 2px;
}
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
  background: [brightness(colors.widget_base, 0.2)];
}
QScrollBar::add-line:vertical {
  background: none;
  height: 0px;
}
QScrollBar::add-line:horizontal {
  background: none;
  width: 0px;
}
QScrollBar::sub-line:vertical {
  background: none;
  height: 0px;
}
QScrollBar::sub-line:horizontal {
  background: none;
  width: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
  height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
  width: 0px;
}

QSplitter::handle {
background: [brightness(colors.background, 0.1)];
}

QPlainTextEdit#Console{
border: none;
padding: 0px;
selection-background-color: [colors.widget_base];
}

QProgressBar {
  background-color: [colors.widget_base];
  border: none;
  text-align: center;
  color: [colors.text_normal];
  max-height: 4px;
}
QProgressBar::chunk {
  background-color: [colors.highlight];
  width: 20px;
}


*[BorderWidth=px_0]{ border-width: 0px }
*[BorderWidth=px_1]{ border-width: [borders.radius] }
*[BorderWidth=px_2]{ border-width: [(borders.radius+2)] }
*[BorderWidth=px_3]{ border-width: [(borders.radius+3)] }
*[BorderWidth=px_4]{ border-width: [(borders.radius+4)] }

*[LBorderWidth=px_0]{ border-left-width: 0px }
*[RBorderWidth=px_0]{ border-right-width: 0px }
*[TBorderWidth=px_0]{ border-top-width: 0px }
*[BBorderWidth=px_0]{ border-bottom-width: 0px }

*[BorderRadius=px_0]{ border-radius: 0px}
*[BorderRadius=px_1]{ border-radius: 1px }
*[BorderRadius=px_2]{ border-radius: 2px}
*[BorderRadius=px_3]{ border-radius: 3px}
*[BorderRadius=px_4]{ border-radius: 4px}
*[BorderRadius=px_6]{ border-radius: 6px}
*[BorderRadius=px_8]{ border-radius: 8px}

*[LBorderRadius=px_0]{ border-bottom-left-radius: 0px; border-top-left-radius: 0px }
*[RBorderRadius=px_0]{ border-bottom-right-radius: 0px; border-top-right-radius: 0px }
*[TBorderRadius=px_0]{ border-top-right-radius: 0px; border-top-left-radius: 0px }
*[BBorderRadius=px_0]{ border-bottom-right-radius: 0px; border-bottom-left-radius: 0px }

*[TPadding=px_n2]{ padding-top: -2px }
*[TPadding=px_n1]{ padding-top: -1px }
*[TPadding=px_1]{ padding-top: 1px }
*[TPadding=px_2]{ padding-top: 2px }
*[TPadding=px_4]{ padding-top: 4px }
*[TPadding=px_8]{ padding-top: 8px }
*[TPadding=px_12]{ padding-top: 12px }
*[TPadding=px_16]{ padding-top: 16px }
*[TPadding=px_20]{ padding-top: 20px }
*[TPadding=px_24]{ padding-top: 24px }

*[BPadding=px_n2]{ padding-bottom: -2px }
*[BPadding=px_n1]{ padding-bottom: -1px }
*[BPadding=px_1]{ padding-bottom: 1px }
*[BPadding=px_2]{ padding-bottom: 2px }
*[BPadding=px_4]{ padding-bottom: 4px }
*[BPadding=px_8]{ padding-bottom: 8px }
*[BPadding=px_12]{ padding-bottom: 12px }
*[BPadding=px_16]{ padding-bottom: 16px }
*[BPadding=px_20]{ padding-bottom: 20px }
*[BPadding=px_24]{ padding-bottom: 24px }

*[LPadding=px_n2]{ padding-left: -2px }
*[LPadding=px_n1]{ padding-left: -1px }
*[LPadding=px_1]{ padding-left: 1px }
*[LPadding=px_2]{ padding-left: 2px }
*[LPadding=px_4]{ padding-left: 4px }
*[LPadding=px_8]{ padding-left: 8px }
*[LPadding=px_12]{ padding-left: 12px }
*[LPadding=px_16]{ padding-left: 16px }
*[LPadding=px_20]{ padding-left: 20px }
*[LPadding=px_24]{ padding-left: 24px }

*[RPadding=px_n2]{ padding-right: -2px }
*[RPadding=px_n1]{ padding-right: -1px }
*[RPadding=px_1]{ padding-right: 1px }
*[RPadding=px_2]{ padding-right: 2px }
*[RPadding=px_4]{ padding-right: 4px }
*[RPadding=px_8]{ padding-right: 8px }
*[RPadding=px_12]{ padding-right: 12px }
*[RPadding=px_16]{ padding-right: 16px }
*[RPadding=px_20]{ padding-right: 20px }
*[RPadding=px_24]{ padding-right: 24px }

*[TMargin=px_n2]{ margin-top: -2px }
*[TMargin=px_n1]{ margin-top: -1px }
*[TMargin=px_1]{ margin-top: 1px }
*[TMargin=px_2]{ margin-top: 2px }
*[TMargin=px_4]{ margin-top: 4px }
*[TMargin=px_8]{ margin-top: 8px }
*[TMargin=px_12]{ margin-top: 12px }
*[TMargin=px_16]{ margin-top: 16px }
*[TMargin=px_20]{ margin-top: 20px }

*[BMargin=px_n2]{ margin-bottom: -2px }
*[BMargin=px_n1]{ margin-bottom: -1px }
*[BMargin=px_1]{ margin-bottom: 1px }
*[BMargin=px_2]{ margin-bottom: 2px }
*[BMargin=px_4]{ margin-bottom: 4px }
*[BMargin=px_8]{ margin-bottom: 8px }
*[BMargin=px_12]{ margin-bottom: 12px }
*[BMargin=px_16]{ margin-bottom: 16px }
*[BMargin=px_20]{ margin-bottom: 20px }

*[LMargin=px_n2]{ margin-left: -2px }
*[LMargin=px_n1]{ margin-left: -1px }
*[LMargin=px_1]{ margin-left: 1px }
*[LMargin=px_2]{ margin-left: 2px }
*[LMargin=px_4]{ margin-left: 4px }
*[LMargin=px_8]{ margin-left: 8px }
*[LMargin=px_12]{ margin-left: 12px }
*[LMargin=px_16]{ margin-left: 16px }
*[LMargin=px_20]{ margin-left: 20px }

*[RMargin=px_n2]{ margin-right: -2px }
*[RMargin=px_n1]{ margin-right: -1px }
*[RMargin=px_1]{ margin-right: 1px }
*[RMargin=px_2]{ margin-right: 2px }
*[RMargin=px_4]{ margin-right: 4px }
*[RMargin=px_8]{ margin-right: 8px }
*[RMargin=px_12]{ margin-right: 12px }
*[RMargin=px_16]{ margin-right: 16px }
*[RMargin=px_20]{ margin-right: 20px }



*[Background=highlight] { background: [colors.background_highlight] }
*[Background=transparent] { background: transparent }
*[Background=black] { background: [brightness(colors.background, -0.2)]}
*[Background=very_dark] { background: [colors.background] }
*[Background=medium_dark] { background: [brightness(colors.background, 0.35)] }
*[Background=dark] { background: [colors.widget_dark] }
*[Background=medium] { background: [brightness(colors.widget_dark, 0.15)] }
*[Background=normal] { background: [colors.widget_base] }
*[Background=bright] { background: [colors.widget_bright] }

*[FontColor=disabled]{ color: [colors.text_disabled]}
*[FontColor=medium]{ color: [brightness(colors.text_normal, -0.1)] }
*[FontColor=normal]{ color: [colors.text_normal] }
*[FontColor=highlight]{ color: [colors.text_highlight] }

*[FontSize=px_9]{ font-size: 9px }
*[FontSize=px_10]{ font-size: 10px }
*[FontSize=px_11]{ font-size: 11px }
*[FontSize=px_12]{ font-size: 12px  }
*[FontSize=px_13]{ font-size: 13px  }
*[FontSize=px_14]{ font-size: 14px }
*[FontSize=px_15]{ font-size: 15px }
*[FontSize=px_16]{ font-size: 16px }
*[FontSize=px_17]{ font-size: 17px }
*[FontSize=px_18]{ font-size: 18px }

*[FontWeight=extra_light]{ font-weight: 300 }
*[FontWeight=light]{ font-weight: 400 }
*[FontWeight=normal]{ font-weight: 500 }
*[FontWeight=semi_bold]{ font-weight: 600 }
*[FontWeight=bold]{ font-weight: 700 }

*[Emboss=none]{ 
  background: transparent;
  border: none;
}

/*
*[IconSize=px_14]{ qproperty-iconSize: [int(ui_scale*14)]px [int(ui_scale*14)]px}
*[IconSize=px_16]{ qproperty-iconSize: [int(ui_scale*16)]px [int(ui_scale*16)]px}
*[IconSize=px_20]{ qproperty-iconSize: [int(ui_scale*20)]px [int(ui_scale*20)]px}
*[IconSize=px_24]{ qproperty-iconSize: [int(ui_scale*24)]px [int(ui_scale*24)]px}
*[IconSize=px_28]{ qproperty-iconSize: [int(ui_scale*28)]px [int(ui_scale*28)]px}
*[IconSize=px_32]{ qproperty-iconSize: [int(ui_scale*32)]px [int(ui_scale*32)]px}
*[IconSize=px_64]{ qproperty-iconSize: [int(ui_scale*64)]px [int(ui_scale*64)]px}

*[Width=px_1]{ min-width: [int(1*ui_scale)]px; max-width: [int(1*ui_scale)]px}
*[Width=px_2]{ min-width: [int(2*ui_scale)]px; max-width: [int(2*ui_scale)]px}
*[Width=px_4]{ min-width: [int(4*ui_scale)]px; max-width: [int(4*ui_scale)]px}
*[Width=px_6]{ min-width: [int(6*ui_scale)]px; max-width: [int(6*ui_scale)]px}
*[Width=px_10]{ min-width: [int(10*ui_scale)]px; max-width: [int(10*ui_scale)]px}
*[Width=px_14]{ min-width: [int(14*ui_scale)]px; max-width: [int(14*ui_scale)]px}
*[Width=px_16]{ min-width: [int(16*ui_scale)]px; max-width: [int(16*ui_scale)]px}
*[Width=px_18]{ min-width: [int(18*ui_scale)]px; max-width: [int(18*ui_scale)]px}
*[Width=px_20]{ min-width: [int(20*ui_scale)]px; max-width: [int(20*ui_scale)]px}
*[Width=px_22]{ min-width: [int(22*ui_scale)]px; max-width: [int(22*ui_scale)]px}
*[Width=px_24]{ min-width: [int(24*ui_scale)]px; max-width: [int(24*ui_scale)]px}
*[Width=px_25]{ min-width: [int(25*ui_scale)]px; max-width: [int(25*ui_scale)]px}
*[Width=px_26]{ min-width: [int(26*ui_scale)]px; max-width: [int(26*ui_scale)]px}
*[Width=px_30]{ min-width: [int(30*ui_scale)]px; max-width: [int(30*ui_scale)]px}
*[Width=px_32]{ min-width: [int(32*ui_scale)]px; max-width: [int(32*ui_scale)]px}
*[Width=px_34]{ min-width: [int(34*ui_scale)]px; max-width: [int(34*ui_scale)]px}
*[Width=px_40]{ min-width: [int(40*ui_scale)]px; max-width: [int(40*ui_scale)]px}
*[Width=px_48]{ min-width: [int(48*ui_scale)]px; max-width: [int(48*ui_scale)]px}
*[Width=px_56]{ min-width: [int(56*ui_scale)]px; max-width: [int(56*ui_scale)]px}
*[Width=px_64]{ min-width: [int(64*ui_scale)]px; max-width: [int(64*ui_scale)]px}
*[Width=px_128]{ min-width: [int(128*ui_scale)]px; max-width: [int(128*ui_scale)]px}
*[Width=px_256]{ min-width: [int(256*ui_scale)]px; max-width: [int(256*ui_scale)]px}
*[Width=px_1024]{ min-width: [int(1024*ui_scale)]px; max-width: [int(1024*ui_scale)]px}

*[Height=px_1]{ min-height: [int(1*ui_scale)]px; max-height: [int(1*ui_scale)]px}
*[Height=px_2]{ min-height: [int(2*ui_scale)]px; max-height: [int(2*ui_scale)]px}
*[Height=px_4]{ min-height: [int(4*ui_scale)]px; max-height: [int(4*ui_scale)]px}
*[Height=px_6]{ min-height: [int(6*ui_scale)]px; max-height: [int(6*ui_scale)]px}
*[Height=px_10]{ min-height: [int(10*ui_scale)]px; max-height: [int(10*ui_scale)]px}
*[Height=px_14]{ min-height: [int(14*ui_scale)]px; max-height: [int(14*ui_scale)]px}
*[Height=px_16]{ min-height: [int(16*ui_scale)]px; max-height: [int(16*ui_scale)]px}
*[Height=px_18]{ min-height: [int(18*ui_scale)]px; max-height: [int(18*ui_scale)]px}
*[Height=px_20]{ min-height: [int(20*ui_scale)]px; max-height: [int(20*ui_scale)]px}
*[Height=px_22]{ min-height: [int(22*ui_scale)]px; max-height: [int(22*ui_scale)]px}
*[Height=px_24]{ min-height: [int(24*ui_scale)]px; max-height: [int(24*ui_scale)]px}
*[Height=px_25]{ min-height: [int(25*ui_scale)]px; max-height: [int(25*ui_scale)]px}
*[Height=px_26]{ min-height: [int(26*ui_scale)]px; max-height: [int(26*ui_scale)]px}
*[Height=px_30]{ min-height: [int(30*ui_scale)]px; max-height: [int(30*ui_scale)]px}
*[Height=px_32]{ min-height: [int(32*ui_scale)]px; max-height: [int(32*ui_scale)]px}
*[Height=px_34]{ min-height: [int(34*ui_scale)]px; max-height: [int(34*ui_scale)]px}
*[Height=px_40]{ min-height: [int(40*ui_scale)]px; max-height: [int(40*ui_scale)]px}
*[Height=px_48]{ min-height: [int(48*ui_scale)]px; max-height: [int(48*ui_scale)]px}
*[Height=px_56]{ min-height: [int(56*ui_scale)]px; max-height: [int(56*ui_scale)]px}
*[Height=px_64]{ min-height: [int(64*ui_scale)]px; max-height: [int(64*ui_scale)]px}
*[Height=px_128]{ min-height: [int(128*ui_scale)]px; max-height: [int(128*ui_scale)]px}
*[Height=px_256]{ min-height: [int(256*ui_scale)]px; max-height: [int(256*ui_scale)]px}
*[Height=px_1024]{ min-height: [int(1024*ui_scale)]px; max-height: [int(1024*ui_scale)]px}

*/